# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv/
venv/

# Environment variables
app/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
data/audios/*.wav
data/videos/upload/*
data/videos/processed/*